<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="/img/logo.png" />
    <title>Pingyang</title>
    <style>
        body {
            background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("/assets/img/bg-pinngyang.jpg");
        }
        table {
            background: #f6f6f6;
            border-radius: 5px;
        }
        h6 {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" th:href="@{/{lang}(lang='thai')}">
                <img th:src="@{/img/logo.png}" alt="logo" style="width:60px;">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pingyang/{lang}/{type}(lang='thai',type='Promotion')}">ชุดโปรโมชั่น</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pingyang/{lang}/{type}(lang='thai',type='Meat')}">เนื้อสัตว์</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pingyang/{lang}/{type}(lang='thai',type='Vegetable')}">ผัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pingyang/{lang}/{type}(lang='thai',type='Drink')}">เครื่องดื่ม</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/pingyang/{lang}/{type}(lang='thai',type='Dessert')}">ของหวาน</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h6 id="time" class="mt-3" align = "right"></h6>
        <script>
            var time = document.getElementById("time");
            var d = new Date();
            var n = d.getDate()+"/"+d.getMonth()+"/"+d.getFullYear()+"&nbsp&nbsp"+d.getHours()+":"+d.getMinutes();
            console.log(n);
            time.innerHTML = n;
        </script>
        <div class="row mt-5">
            <div class="col-8">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th style="width:200px;"><center>รูป</center></th>
                        <th style="width:300px;"><center>ชื่อเมนู</center></th>
                        <th style="width:100px;"><center>ราคา</center></th>
                        <th style="width:50px;"><center>+</center></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="menuu : ${menu}">
                        <td><img th:src="@{${menuu.img}}"></td>
                        <td th:text="${menuu.name}"></td>
                        <td th:text="${menuu.cost}"></td>
                        <td>
                            <a th:href="@{/add/{lang}/{type}/{id}(lang='thai',type=${menuu.type},id=${menuu.id})}" class="btn btn-dark">เพิ่ม</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-4">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th><center>รายการอาหารที่สั่ง</center></th>
                        <th><center>-</center></th>
                    </tr>
                    </thead>
                    <tbody id="list">
                    <tr th:each="foodd : ${food}">
                        <td th:text="${foodd.name}"></td>
                        <td>
                            <center><a th:href="@{/delete/{lang}/{type}/{id}(lang='thai',type=${foodd.type},id=${foodd.id})}" class="btn btn-dark">ลบ</a></center>
                        </td>
                    </tr>
                    <tr>
                        <td th:text="${total}"></td>
                        <td align = "right"><a th:href="@{/pay/{lang}(lang='thai')}" class="btn btn-danger">ชำระเงิน</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>